<span class="list-item-name clickable{{vm.item.state | stateToText}}" ng-click="vm.editName()" ng-show="!vm.nameEditMode">
    {{vm.item.name}}</span>
<input
        ng-show="vm.item && !vm.nameEditMode"
        type="button"
        class="right"
        ng-click="vm.onRemove({listItem: vm.item})"
        value="Remove">
<input ng-if="vm.item" type="button"
       ng-click="vm.toggleStateChange()"
       ng-show="!vm.nameEditMode"
       class="right"
       value="Set as {{vm.item.state | oppositeState | stateToText}}">


<span ng-show="vm.showValidationMessage"  class="validation-message">
Please enter some text
</span>


<form ng-submit="vm.submitNameChange()" ng-show="vm.nameEditMode">
    <input type="text" ng-model="vm.newName"/>
    <input type="submit" value="Save">
    <input type="button" ng-click="vm.cancelNameEdit()" ng-show="vm.nameEditMode && vm.item" value="Cancel">
</form>